.signup-background {
    background-image: url('assets/images/buildings-on-white-background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  